.imggrid {
    width: 400px;
    height: 250px;
    
    
}
#homeimg {
    width: 1200px;
    height: 800px;
    
}

body {
    text-align: center;
    background-color: forestgreen;
    
}

#slide img {
    height: 500px;
    width: 700px;
    
}

.item {
    display: inline;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    
    
}

.menu {
    list-style: none;
}